nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link(href='index.html') Kategorie
    li.nav__item
      a.nav__link(href='about.html') Promocje
    li.nav__item
      a.nav__link(href='offer.html') Nowości
    li.nav__item
      a.nav__link(href='#contact') Popularne
