body
  +fontExo2
  font-size: 14px
  line-height: 1.5
  color: $blue
  overflow-x: hidden

*::selection
  background-color: $pink
  color: $white
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    
.container
  +container

.overflow
  overflow: hidden

img
  display: inline-block