extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-main
  include ../components/productList/productList-white-slider
  include ../components/productList/productList-grey-slider
  include ../components/productList/productList-white-slider
  include ../components/newsletter/newsletter
  include ../components/footer/footer