.productList.-white
  .container.wow.fadeInRight

    .productList__top
      .productList__title Nowości
      .productList__left
        a.productList__link(href='#') pokaż więcej

    .productList__slider
      - for(var i = 1; i <= 6; i++)
        .productList__sliderItem
          include ../product/product