.productList
  padding: 60px 0
  overflow: hidden
  &.-grey
    background: $gray
  &.-white
    background: $white
    
  &__top
    display: flex
    justify-content: space-between
    margin-bottom: 30px
    
  &__title
    +font(size 30px weight 200)
    line-height: 1
    margin-right: 10px
    
  &__left
    flex: 1
    border-bottom: 1px solid $blue
    text-align: right
  
  &__slider
    width: calc(100% + 60px)
    margin-left: -30px
  
  &__sliderItem
    margin: 0 30px