.banner.-main
  .banner__slider
    - for(var i = 1; i <= 4; i++)
      - var itemStyle = 'background-image: url('+ imgDir +'banner__item-'+ i +'.jpg)';
      - var itemDesc = 'Some desc ' + i ;
      .banner__item(style=itemStyle data-desc=itemDesc)
        .container
          .banner__header.wow.fadeInUp(data-wow-delay="0.3s")
            h1.banner__titleTop
              +lorem(2)
            h1.banner__titleBottom
              +lorem(4)
            .banner__button
              include ../button/button-banner

  .banner__desc.wow.fadeInRight(data-wow-delay="0.9s")
    .container