.banner
  position: relative
  z-index: 1
  
  &__item
    +section-bg
    .container
      height: 540px
  
  &__header
    +flex-center
    flex-direction: column
    height: calc(100% - 70px)
    width: 100%
    text-align: center
    transition: 0.6s ease all
    transform-origin: center
    position: relative
    border: 1px solid transparentize($white, 0.3)
    margin: 30px auto 0
    padding: 30px
    &.-hide
      transform: translateY(20%) scale(0.8)
      opacity: 0
  
  &__titeTop, &__titleBottom
    margin-bottom: 0
    line-height: 1.1
  
  &__titleTop
    +font(size 40px)
    text-transform: uppercase
    background: $white
    padding: 0 5px
  
  &__titleBottom
    +font(size 40px)
    color: $white
  
  &__button
    margin-top: 20px
  
  &__desc
    position: absolute
    bottom: -20px
    left: 0
    width: 100%
    .container
      display: flex
      
  &__descItem
    +flex-center
    position: relative
    cursor: pointer
    text-align: center
    flex: 1
    height: 60px
    background: $gray
    transition: 0.3s ease all
    &:hover
      background: $pinkLight
    &.-active
      background: $pinkLight
      transform: scaleY(1.1)
      z-index: 10
      .banner__descItemText
        transform: scaleY(0.9)
      
  &__descTimer
    background: lighten($pinkLight, 5%)
    position: absolute
    left: 0
    top: 0
    height: 100%
    z-index: -1
    
  &__descItemIndex
    +PC_MIN
      display: none
    
  &__descItemText
    +TAB_MAX
      display: none