footer.footer.overflow
  .container.wow.fadeInDown
    .footer__top
      .footer__info
        .footer__column
          .footer__title SKLEP
          a.footer__link(href='./') Strona główna
          a.footer__link(href='./') Polityka prywatności
          a.footer__link(href='./') Regulamin
        .footer__column
          .footer__title KONTO
          a.footer__link(href='./') Rejestracja
          a.footer__link(href='./') Logowanie
          a.footer__link(href='./') Moje zakupy
        .footer__column
          .footer__title POMOC
          a.footer__link(href='./') FAQ
          a.footer__link(href='./') Kontakt
      .footer__social
        .fb-page(data-href="https://www.facebook.com/Lux-Lashes-1466613183599657/?fref=ts"
          data-width=500
          data-hide-cover="true"
          data-small-header="true"
          data-show-facepile="true"
          data-show-posts="false")

    .footer__bottom
      .footer__rights SKLEPY INTERNETOWE LITHIUM
      .footer__power POWERED BY SHOPLO