.footer
  background: $blue
  padding: 30px 0
  color: $white
  
  &__top
    border: 1px solid transparentize($white, 0.3)
    padding: 30px
    display: flex
    +TAB_MAX
      flex-wrap: wrap
      
  &__info, &__social
    width: 100%
    +PC_MIN
      width: 50%
    
  &__info
    display: flex
    
  &__social
    +TAB_MAX
      margin-top: 30px
    
  &__column
    flex: 1
    
  &__title, &__link
    display: block
    
  &__title
    color: $pinkLight
    
  &__link
    color: $white
    
  &__bottom
    margin-top: 30px
    display: flex
    justify-content: space-between