.product
  .product__box
    - var imgSrc = imgDir + 'product__img.jpg';
    img.product__img(src=imgSrc alt='product1')
    .product__button
      include ../button/button-product
  .product__desc
    +lorem(8)
  .product__promo
    span.product__promoText Promocja
    strong.product__promoStrong -10%