.product
  +flex-center
  flex-direction: column
  text-decoration: none
  width: 100%
  text-align: center
  transition: 0.3s ease all
  position: relative
  margin-top: 10px
  &:hover
    text-decoration: none
  
  &__box
    +flex-center
    background: $white
    height: 280px
    width: 100%
    position: relative
    border-bottom: 1px solid $blue
  
  &__img
    max-width: 90%
  
  &__button
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 50%)
  
  &__desc
    text-transform: uppercase
    color: $blue
    margin-top: 40px
  
  &__promo
    +flex-center
    color: $pink
    flex-direction: column
    text-transform: uppercase
    position: absolute
    top: -10px
    right: -10px
    background: $pinkLight
    width: 65px
    height: 65px
    border-radius: 50%
  
  &__promoText
    +font(size 8px)
  
  &__promoStrong
    +font(size 16px)