.button
  display: inline-flex
  align-items: center
  justify-content: center
  background: $pink
  color: $white
  border: none
  border-radius: $radius
  height: 40px
  padding: 0 20px
  transition: 0.3s ease all
  cursor: pointer
  position: relative
  overflow: hidden
  &:hover
    background: darken($pink, 10%)
    text-decoration: none
    .button__info
      opacity: 1
      transform: scale(1)
    .button__arrow
      transform: translateX(5px)
  
  &__info
    +flex-center
    position: absolute
    left: 0
    top: 0
    opacity: 0
    transform: scale(0)
    transform-origin: left
    background: inherit
    width: 100%
    height: 100%
    border-radius: inherit
    transition: 0.3s ease all
  
  &__arrow
    +font(size 14px)
    margin-left: 10px
    transition: 0.3s ease all
    