.newsletter
  .container
    .newsletter__flex
      .newsletter__title.wow.fadeInLeft Zapisz się do newslettera
      .newsletter__form.wow.fadeInRight
        input.newsletter__input(type='text' placeholder='Wpisz swój adres email' pattern=".{1,30}" required)
        include ../button/button-newsletter