.newsletter
  background: $pinkLight
  padding: 30px 0
  
  &__flex
    +flex-center
    width: 100%
    +TAB_MAX
      flex-direction: column
  
  &__title
    +font(size 18px)
    text-transform: uppercase
    +TAB_MAX
      margin-bottom: 20px
      text-align: center
    +PC_MIN
      margin-right: 20px
  
  &__form
    +flex-center
    width: 100%
    max-width: 500px
    height: 40px
    background: $white
    border-radius: $radius
    padding-left: 20px
  
  &__input
    border: 0
    background: $white
    display: inline-flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%